.Hero-Cont{
    width: 100%;
    min-height: 70vh;
    background-image: url('../../assets/Background.jpg');
    background: linear-gradient(rgb(216, 53, 53));
    background-size: cover;
    background-position: center;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Hero-Text{
    text-align: center;
    max-width: 800px;
    background-color: yellow;
    border-radius: 20px;
}
.Hero-Text h1{
    font-size: 60px;
    font-weight: 600px;
}
.Hero-Text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4; 
    font-weight:600;
    background-color: yellow;

}
.Hero-Text img {
    background-color: rgb(180, 105, 6);
}
.Hero-Text .btn {
    border-color: #000;
    background-color: rgb(180, 105, 6);
}
@media only screen and (max-width:600px) {
.Hero-Cont{
    width: 100%;
    justify-content: center;
    padding-top:1px ;
    min-height: 65vh;
}



}