.TitleCont {
    text-align: Center;
    color: black;
    text-transform: uppercase;
    margin: 70px 0 30px;
    background-color: rgb(180, 105, 6);

}

.TitleCont h2 { 
    font-size: 32px;
    color: #000f38;
    margin-top: 5px;
}

.TitleCont h2:hover{
    color:rgb(224, 108, 0);
}
.TitleCont p:hover{
    color:rgb(224, 108, 0);
    font-weight: bolder;
    font-size: large;
}


























