*{
    background-color: rgb(180, 105, 6);

}
.About{
     display: flex;
     justify-content: center;
     align-items: center;
}
.About-Left01{
    padding-right: 200px;
    justify-content: center;
    align-items: center;
}
/*ESTILOS PARA CELULARES PROGRAMS.CSS*/
@media only screen and (max-width:600px) {
    .About {
        width:100%;
        display: flex;
        flex-wrap: wrap;   
        justify-content: center;
        align-items: center;     
    }
    .About-Left01 {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: row;

    }
    .About-Left02 {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    }