*{
    background-color: rgb(180, 105, 6);

}
/*ESTILOS PARA CELULARES PROGRAMS.CSS*/
@media only screen and (max-width:600px) {
    .About {
        width:auto;
        display: flex;
        flex-wrap: wrap;        }
    
    }