.ProgramsContSub{
    margin: 80px auto;
    width: 95%;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.ProgramsContSub img{
    width: 95%;
    border-radius: 10px;
    display: block;
}
.ProgramsContSub{ 
    flex-basis: 30%;
    position: relative;
}
.caption {
    border-radius: 10px;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
}
.caption img{
    width: 60px;
    margin-bottom: 10px;
    background-color:blanchedalmond;
}
.caption p{
    color: white;
    font-weight: bold;
}